<!-- templates/auth_login/register.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <h2>Registrar una cuenta</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Muestra el formulario con sus campos como párrafos -->
        <button type="submit">Registrar</button>
    </form>
    <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión aquí</a></p>
</body>
</html>
